body {
	position: relative;
	color: #555;
	font-size: 15px;
	line-height: 1.7;
	background-color: #f7fafc;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
}

#particles-js {
	position: absolute;
	overflow: auto;
	height: 90%;
	top: 60px;
	left: 0;
	bottom: 0;
}

.logo_add {
	height: 60px;
	border-bottom: #C0C0C0 2px solid;
	background: rgba(255, 255, 255, .7);
	backdrop-filter: blur(10px);
}

.logo_add img {
	height: 50px;
	position: absolute;
	left: 5px;
	top: 5px;
}

.logo_add .add {
	position: absolute;
	right: 120px;
	top: 0px;
	width: 80px;
	border: 0;
	line-height: 40px;
	font-size: 15px;
	margin: 10px 0;
	color: #fff;
	background-color: #32CD32;
	border-radius: 3px;
}

.logo_add .add:hover {
	background-color: gray;
	transition: 0.5s;
	cursor: pointer;
}

.logo_add .back {
	position: absolute;
	right: 20px;
	top: 0px;
	width: 80px;
	border: 0;
	line-height: 40px;
	font-size: 15px;
	margin: 10px 0;
	color: #fff;
	background-color: #FF7F50;
	border-radius: 3px;
}

.logo_add .back:hover {
	background-color: gray;
	transition: 0.5s;
	cursor: pointer;
}

.table {
	height: 100%;
	width: 100%;
	display: block;
}

.table .item {
	display: inline-block;
	margin: 50px;
	backdrop-filter: blur(2px);
	background: rgba(255, 255, 255, 0.7);
	height: 200px;
	width: 300px;

}

.table .item .project {
	height: 200px;
	overflow: auto;
}

.title{
	display: block;
	background-color: rgb(255, 255, 255);
	line-height: 170px;
	font-size: 30px;
	
}



.editbtn {
	position: absolute;
	width: 25%;
	bottom: 0px;
	left: 0px;
	font-size: 16px;
	border-radius: 3px;
	border: solid 1px black;
	background-color: #32CD32;
	line-height: 25px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.editbtn:hover {
	background-color: gray;
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

.renamebtn {
	position: absolute;
	width: 25%;
	bottom: 0px;
	left: 38%;
	font-size: 16px;
	border-radius: 3px;
	border: solid 1px black;
	background-color: #32CD32;
	line-height: 25px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.renamebtn:hover {
	background-color: gray;
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

.deletebtn {
	position: absolute;
	width: 25%;
	bottom: 0px;
	right: 0px;
	font-size: 16px;
	border-radius: 3px;
	border: solid 1px black;
	background-color: #FF7F50;
	line-height: 25px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.deletebtn:hover {
	background-color: gray;
	color: white;
	transition: 0.5s;
	cursor: pointer;
}

/* 遮罩层 */
div.bg {
	position: fixed;
	left: 0px;
	top: 0px;
	background: gray;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.header {
	height: 30px;
	margin: 5px;
}

p {
	margin: 10px;
	text-align: center;
	font: normal 500 30px '宋体';
}

/* 超时弹框 */
div.timeout {
	position: relative;
	background: #fff;
	width: 20%;
	height: 12%;
	border-radius: 10px;
	margin: 10% auto;
	border-color: #000;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 错误弹框 */
div.networkerror {
	position: relative;
	background: #fff;
	width: 20%;
	height: 12%;
	border-radius: 10px;
	margin: 10% auto;
	border: solid 1px black;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 关闭窗口按钮 */
div.close {
	text-align: center;
	padding: 1px;
	margin: 1px;
	background-color: red;
	color: white;
	height: 20px;
	width: 20px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	position: absolute;
	right: 0px;
	top: 0px;
}

div.close:hover {
	background-color: rgb(151, 6, 6);
	color: #fff;
	cursor: pointer;
}

/* 创建项目框 */
div.create {
	position: relative;
	background: #fff;
	width: 40%;
	height: 30%;
	border-radius: 10px;
	margin: 10% auto;
	border-color: #000;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 重命名框 */
div.rename {
	position: relative;
	background: #fff;
	width: 40%;
	height: 30%;
	border-radius: 10px;
	margin: 10% auto;
	border-color: #000;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* 项目名称是空的时候的提示 */
div.empty {
	text-align: inherit;
	color: red;
	font: normal 100 20px '宋体';
}

/* 输入框输入新项目名字 */
.textinput {
	background-color: whitesmoke;
	position: relative;
	width: 50%;
	height: 30px;
	margin-bottom: none;
	border: 2px solid gray;
	transition: 0.5s;
	outline: black double 1px;
	font: large 500 20px '宋体';
}

.textinput:hover {
	background-color: aliceblue;
}

.textinput:focus {
	border-color: black;
}

/* 两个按钮 确认创建和返回 */
.btn {
	line-height: 25px;
	background-color: gray;
	width: 30%;
	height: 48px;
	border-radius: 8px;
	margin-top: 20px;
	box-sizing: border-box;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	color: white;
	border: 1px black solid;
}

.btn:hover {
	background-color: black;
	color: white;
	cursor: pointer;
}