.editorRight {
  position: absolute;
  height: 100%;
  padding:8px;
  overflow: auto;
  width: 18vw;
  right: 12px;
  top: 0;
  background-color: rgb(252, 252, 255);

  .setterItemLabel{
    display:inline;
    margin-bottom:10px;




    .styleName{
      color:#4c57cb;
      font-size: 14px;
    
    }
    .setterItem{
      border: 1.5px solid #BFC3F2;
      border-radius: 8px;
      width:100%;
      height:34px;
      margin-top:2px;
      margin-bottom:10px;
      padding:4px;
      font-size: 16px;

      &:hover{
        border: 3px solid #000CF5;
      }
      &::placeholder{
        color:#BFC3F2;

      }
    }

  }
  .info{
    // text-align: center;
    span{
        display: inline-block;
        // width: 80px;
        text-align: right;
        margin-left: 20px;
        margin-right: 10px;
        padding-top: 10px;
    }
}

  .event{
    // text-align: center;
    margin: 0 10px;
    .tabText{
        width: 90%;
        height: 100px;
        border: 1px solid skyblue;
        border-radius: 10px;
        padding: 10px;
        margin: 5px auto;
    }
}

  
}



