
.HeaderCanvasSetter{
  display:inline;
  justify-content: flex-end;

  .HeaderCanvasSetterInput{
    width:60px;
    height:28px;
  }
  .HeaderCanvasSetterSelect{
    width:180px;
    height:28px;
  }
}

