.editorLeft {
  position: absolute;
  height: 100%;
  overflow: auto;
  width: 200px;
  left: 0;
  top: 0;
  padding-top: 10px;
  // padding-left:20px;
  // padding-right:20px;
  background-color: rgb(252, 252, 255);

  .editorLeftItem {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    padding: 10px;
    border: 1.5px solid #BFC3F2;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(253, 253, 255);
    color: #000CF5;
    font-family: Geneva;
    cursor: grab;

    &:hover {
      display: flex;
      flex-wrap: wrap;
      height: 20px;
      padding: 10px;
      border: 1.5px solid #000CF5;
      border-radius: 4px;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      font-family: Geneva;
      cursor: grab;
      box-shadow: 0px 0px 10px 4px rgba(36, 24, 213, 0.1);

    }


    .list {
      width: 45%;
      height: 40px;
      border: 1px solid #ddd;
      // cursor: -webkit-grab;
      // cursor: grab;
      margin-bottom: 10px;
      text-align: center;
      color: #333;
      padding: 2px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}